<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Infos de patient - mediLaboDiabetes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
    </head>
    <body>
        <aside>
            <nav>
                <ul>
                    <li><a href="/patients">Patients</a></li>
                    <li><a href="/">Consulter un historique</a></li>
                </ul>
            </nav>
        </aside>
        <div id="wrapper">
            <header>
                <img th:src="@{/images/mldLogo2.png}" alt="logo">
            </header>
            <section>
                <article class="patientInfoWrapper">
                    <form class="elementWrapper" method="POST" action="#" th:action="@{/patients/update/{id}(id=${placeholderPatient.id})}" th:object="${updatedPatient}">
                        <header>
                            <a href="/patients"><img th:src="@{/images/back.png}" alt="return"></a>
                            <h2>
                                <span th:if="${placeholderPatient.gender != 'M' and placeholderPatient.gender != 'F'}"></span>
                                <span th:if="${placeholderPatient.gender == 'M'}">M. </span>
                                <span th:if="${placeholderPatient.gender == 'F'}">Mme. </span>
                                <span th:text="${placeholderPatient.firstName} + ' ' + ${placeholderPatient.lastName}"></span>
                            </h2>
                        </header>
                        <label>Nom<input type="text" th:placeholder="${placeholderPatient.lastName}" th:field="*{lastName}"></label>
                        <label>Prénom<input type="text" th:placeholder="${placeholderPatient.firstName}" th:field="*{firstName}"></label>
                        <label>Genre<input type="text" th:placeholder="${placeholderPatient.gender}" th:field="*{gender}"></label>
                        <label>Date de naissance<input type="date" th:placeholder="${placeholderPatient.birthDate}" th:field="*{birthDate}"></label>
                        <label>Adresse<input type="text" th:placeholder="${placeholderPatient.address}" th:field="*{address}"></label>
                        <label>Téléphone<input type="text" th:placeholder="${placeholderPatient.phone}" th:field="*{phone}"></label>
                        <input class="buttonStyle1" type="submit" value="Modifier">
                    </form>
                    <span class="elementWrapper">
                        <header class="elementHeaderAlignB">
                            <h2><span>Notes du patient</span></h2>
                            <a th:href="@{/notes/add/{id}(id=${placeholderPatient.id})}" th:if="${notesList != null}"><img th:src="@{/images/add.png}" alt="add_note"></a>
                        </header>
                        <div class="noteOuterWrapper">
                            <th:block th:if="${notesList != null}">
                                <span class="noteInnerWrapper" th:each="note : ${notesList}">
                                    <a class="noteContent" th:href="@{/notes/update/{id}(id=${note.id})}">
                                        <p th:utext="${note.noteContent}"></p>
                                    </a>
                                </span>
                            </th:block>
                            <th:block th:unless="${notesList != null}">
                                <span class="noteInnerWrapper">
                                    <p class="noteContent" th:text="${notesErrorMsg}"></p>
                                </span>
                            </th:block>
                        </div>
                    </span>
                </article>
            </section>
        </div>
    </body>
</html>