* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Calibri";
    color:rgb(50, 50, 50);

    transition: background-color 0.1s ease;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: rgb(44, 44, 44);
    font-size: 1.3rem;
    border-bottom: 3px solid rgb(112, 131, 146);
}

a {
    text-decoration: none;
}

nav ul {
    width: 90%;
    display: inline-flex;
    list-style: none;
}

nav ul li a {
    padding: 10px 20px 10px 20px;
    display: block;
    height: 100%;
    text-decoration: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    color: rgb(219, 219, 219);
    transition: padding 0.1s ease, background-color 0.1s ease;
    font-weight: bold;
}

nav ul li a:hover {
    padding-right: 100px;
    background-color: rgb(219, 219, 219);
    border-right: 5px solid rgb(112, 131, 146);
    color: rgb(44, 44, 44);
}

body {
    background-color: aliceblue;
}

#wrapper {
    margin: auto auto 25px auto;
    width: 70%;
    background-color: rgb(245, 246, 250);
    border: 2px solid rgb(50, 50, 50);
}

#wrapper > header {
    display: flex;
    padding: 10px;
    justify-content: center;
}

header img {
    margin: auto;
    width: 30%;
}

section {
    margin: 25px auto 50px auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonStyle1 {
    background-color: rgb(188, 225, 255);
    border: 1px solid rgb(112, 131, 146);
    border-radius: 4px;
    color: rgb(50, 50, 50);
}

.buttonStyle1:hover {
    background-color: rgb(231, 244, 255);
    border: 1px solid rgb(112, 131, 146);
    cursor: pointer;
}

article {
    width: 90%;
}

article > header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgb(112, 131, 146);
}

article > header h2 {
    padding: 10px;
    font-size: 1.6rem;
    font-weight: normal;
}

article > header a {
    padding: 10px 15px 10px 15px;
    font-size: 1.4rem;
}

table {
    margin: 25px auto;
    width: 85%;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.1rem;
}

table thead, table tbody {
    border: 1px solid rgb(112, 131, 146);
}

table th, table td {
    padding: 10px;
}

table th {
    background-color: rgb(201, 209, 203);
    border-bottom: 1px solid rgb(112, 131, 146);
}

table a {
    padding: 3px 12px 3px 12px;
}

table td:nth-last-child(1) {
    border: none;
}

table tbody tr:nth-child(odd) {
    background-color: rgb(219, 219, 219);
}

table tbody tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

.patientInfoWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.elementWrapper {
    margin: 25px auto;
    padding: 15px;
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgb(112, 131, 146);
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    gap: 10px;
    font-size: 1.1rem;
    color: rgb(50, 50, 50);
}

span.elementWrapper {
    width: 100%;
}

span.elementWrapper:nth-child(1) {
    margin-bottom: 8px;
    height: 80%;
    flex-direction: column;
}

span.elementWrapper:nth-child(2) {
    margin-top: 8px;
    width: 100%;
    height: 20%;
}

.patientNotesWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.riskLevelText {
    width: auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.riskLevelPanel {
    display: inline-flex;
    flex-direction: column;
}

#riskLevelIcon {
    height: 15px;
    transform: skew(-20deg);
    border: 1px solid rgb(50, 50, 50);
}

i.riskLevelIcon0 {
    background-color: #78e097;
    width: 100px;
}
i.riskLevelIcon1 {
    background-color: #fdff7a;
    width: 150px;
}
i.riskLevelIcon2 {
    background-color: #ffaf54;
    width: 200px;
}
i.riskLevelIcon3 {
    background-color: #ff6767;
    width: 250px;
}

.elementWrapper header {
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid rgb(50, 50, 50);
}

.elementWrapper h2 {
    font-size: 1.5rem;
}

.elementWrapper > header > a {
    font-weight: bold;
    color: rgb(50, 50, 50);
}

.elementWrapper > header > a > img {
    width: 32px;
}

.elementWrapper > header > a:hover > img {
    filter: invert(50%);
}

.elementHeaderAlignB {
    justify-content: space-between;
}

form label {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    padding: 3px;
}

form textarea {
    height: 150px;
    resize: none;
}

form input[type="submit"] {
    margin: auto;
    padding: 5px;
    width: 50%;
    font-size: 1.3rem;
}

div.noteOuterWrapper {
    width: 100%;
    max-height: 80%;
    border-left: 3px solid rgb(112, 131, 146);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
}

span.noteInnerWrapper {
    border-bottom: 2px solid rgb(112, 131, 146);
}

.noteContent {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    color: rgb(50, 50, 50);
    border-left: 0px solid rgb(112, 131, 146);
    background-color: rgb(231, 230, 230);
    transition: border-left 0.1s ease;
}

a.noteContent:hover {
    background-color: rgb(219, 219, 219);
    border-left: 5px solid rgb(112, 131, 146);
}

a.noteContent p:nth-child(1) {
    width: 100%;
}
