<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue - mediLaboDiabetes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
    </head>
    <body>
        <aside>
            <nav>
                <ul>
                    <li><a href="/patients">Patients</a></li>
                </ul>
            </nav>
        </aside>
        <div id="wrapper">
            <header>
                <img th:src="@{/images/mldLogo2.png}" alt="logo">
            </header>
            <section>
                <article>
                    <a href="/patients">Consulter les patients</a>
                </article>
            </section>
        </div>
    </body>
</html>